@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 14px;
  @apply bg-gray-50 text-gray-900;
}

.container {
  @apply mx-auto max-w-5xl;
}

.footer {
  @apply text-center self-center mt-4 text-base flex justify-between max-w-3xl mx-auto px-2 text-gray-600;

  .links {
    @apply space-x-1;

    .ricon {
      @apply text-xl text-gray-800 hover:text-gray-900;
    }
  }
}

.ricon {
  font-size: 1em;
}

.ant-btn {
  @apply inline-flex items-center;

  .ricon + span {
    margin-left: 4px;
  }
}
